<div class="container text-center">
    <h1>About Page</h1>
    <p>
        We are DevMatch. Our company focuses on creating an exclusive community 
        for developers and entrepeneurs to meet. 
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, earum 
        inventore natus iure veritatis nam corrupti neque! Ipsum qui, nobis odio 
        saepe natus itaque accusantium nemo tempore, eaque minus commodi!
    </p>
</div>